
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle {
  border-radius: 100%;   
  width: 30vw;
  height: 30vw;
  /* padding-top: 40vh; */
  background: #FF4644;
  border: solid 1vw #ADADAD ;


  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
    transition: transform 0.5s ease-in-out;
}

#circle::before{
  content: "";
  display: block;
  
  width: 119px;
  height: 147px;
  margin-left: 3vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='119' height='147' fill='none'%3E%3Cpath fill='%23D9D9D9' d='M118.5 73.5.75 146.246V.754L118.5 73.5Z'/%3E%3C/svg%3E");

  
}

#circle.clicked::before{
width: 168px;
height: 157px;
margin-left: -1vw;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='168' height='157' fill='none'%3E%3Cpath fill='%23D9D9D9' d='M31.5 7.85C48.897 7.85 63 18.394 63 31.4v94.2c0 13.006-14.103 23.55-31.5 23.55S0 138.606 0 125.6V31.4C0 18.394 14.103 7.85 31.5 7.85ZM136.5 7.85c17.397 0 31.5 10.544 31.5 23.55v94.2c0 13.006-14.103 23.55-31.5 23.55S105 138.606 105 125.6V31.4c0-13.006 14.103-23.55 31.5-23.55Z'/%3E%3C/svg%3E")!important;
}


#circle.clicked {
transform: translateX(-20vw);

}



#rect1{
  position: absolute;
  width: 100%; /* Utilisation d'une unité de mesure relative */
  max-width: 40vw; /* Limite la largeur maximale à 450px */
  height: auto; /* Permet à la hauteur de s'ajuster automatiquement */
  left: 50vw; /* Centre horizontalement */
  top: 35vh; /* Centre verticalement */
  transform: translate(-50%, -50%); /* Centre précisément */
  text-align: right;
  z-index: 0;
  font-size: 2vw; /* Utilisation d'une unité de mesure relative (vw) pour une taille de police responsive */
  opacity: 0;
  background: #D9D9D9;
  border-radius: 5px 30px 5px 5px;
  pointer-events: none; 
  padding: 3vh;
}

#rect2{
  position: absolute;
  width: 100%; /* Utilisation d'une unité de mesure relative */
  max-width: 50vw; /* Limite la largeur maximale à 450px */
  height: auto; /* Permet à la hauteur de s'ajuster automatiquement */
  left: 50vw; /* Centre horizontalement */
  top: 50vh; /* Centre verticalement */
  transform: translate(-50%, -50%); /* Centre précisément */
  text-align: right;
  z-index: 0;
  font-size: 2vw; /* Utilisation d'une unité de mesure relative (vw) pour une taille de police responsive */
  opacity: 0;
  background: #D9D9D9;
  border-radius: 5px 30px 5px 5px;
  pointer-events: none;
  padding: 3vh;
}

#rect3 {
  position: absolute;
  width: 100%; /* Utilisation d'une unité de mesure relative */
  max-width: 60vw; /* Limite la largeur maximale à 450px */
  height: auto; /* Permet à la hauteur de s'ajuster automatiquement */
  left: 50vw; /* Centre horizontalement */
  top: 65vh; /* Centre verticalement */
  transform: translate(-50%, -50%); /* Centre précisément */
  text-align: right;
  z-index: 0;
  font-size: 2vw; /* Utilisation d'une unité de mesure relative (vw) pour une taille de police responsive */
  opacity: 0;
  background: #D9D9D9;
  border-radius: 5px 30px 5px 5px;
  pointer-events: none;
  padding: 3vh;
}

#rect1.visible, #rect2.visible, #rect3.visible{
  transition-duration: 5s;
  opacity: 1;
  pointer-events: auto ;
}




