.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#liste-morceau1{
  width: 50vw;
  height: 60vh;
  overflow: hidden; /* Cache les éléments qui dépassent */
  position: relative; /* Ajoute une position relative */
  overflow-x: hidden;
  overflow-y: scroll;
}
#liste-morceau1::-webkit-scrollbar{
  width: 0px;
}

.info{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artisteAlbum{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artiste{
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  background-color: #dedede;
}
.album{

  width: 30vw;
  height: 10vh;
  background-color: #dedede;
  line-height: 10vh;
}

.rectInfo{
  margin-top: 10vh;
  width: 20vw;
  height: 40vh;
  background-color: #dedede;
  line-height: 20vh;
}


.box{
  background-color: #dedede;
  color: #fff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 30vw;
  height: 50px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px #000;
  transform: translateX(100vw);
  transition: transform 0.4s;
  cursor:pointer;
}

.box.show{
  transform: translateX(10vw);
}

.box.go{
  transform: translateX(0vw);
  height: 100px;

}

.box.go2{
  transform: translateX(5vw);

}
.box.go3{
  transform: translateX(7vw);

}

.box h2{
  font-size: 45px;
  text-shadow: 2px 3px 5px #000;
}













.titre-morceau1 {
  position: absolute;
  height: 49%;
  width: 67.51%;
  top: 26%;
  left: 32.49%;
  display: inline-block;
}
.logo-morceau1 {
  position: absolute;
  height: 75%;
  width: 14.3%;
  top: 13%;
  right: 82.62%;
  bottom: 12%;
  left: 3.07%;
  background: blue;
}
.morceau-principale1 {
  position: relative;
  width: 748px;
  height: 80px;
  background: #dedede;
  border-radius: 10px 0px 0px 10px;
}
.morceau8,
.morceau9 {
  position: relative;
  width: 619px;
  height: 50px;
  background: #dedede;
  border-radius: 10px 0px 0px 10px;

}
.morceau9 {
  width: 588px;
}
.liste-morceau1 {
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

}
/* 
.album-child,
.recherche-morceau-child {
  border-radius: 100%;

  width: 255px;
  height: 251px;
  cursor: pointer;
} */
.recherche-morceau-child {
  position: absolute;
  /* top: 154px;
  left: 60px; */
/* }
.album-child {
  top: 0;
  left: 0;
}
.album-child,
.album1,
.album2 {
  position: absolute;
}
.album2 {
  top: 88px;
  left: 42px;
  display: inline-block;
  width: 231px;
  height: 95px;
}
.album1 {
  position: relative;
  max-width: 273px;
  width: 100%; */
  /* width: 273px; */
  /* height: 251px;
  top: 8%;
  left: 5%;

  border-radius: 100%;
  background: #dedede;
} */

/* .p3 {
  margin: 0;
} */
/* .temps3 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 49px;
  flex-shrink: 0;
} */
/* .frame9 {
  position: absolute;
  top: 3px;
  left: 92px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
} */



/* .recherche-morceau-item {
  position: absolute;
  top: 702px;
  left: 102px;
  border-radius: 50%;
  background-color: var(--color-lime);
  width: 70px;
  height: 70px;
  cursor: pointer;
/* } 
.album3,
.artiste2,
.morceau10 {
  position: absolute;
  top: 55%;
  left: 218px;
  display: inline-block;
  width: 167px;
  height: 71px;
  font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;
}
.artiste2,
.morceau10 {
  top: 65%;
}
.artiste2 {
  top: 75%;
}
.recherche-morceau {
  position: relative;
  
  overflow: hidden;
  text-align: left;
}


.album-titre-child {
    position: absolute;
    top: -220%;
    left: 20%;
    background: #dedede;
    width: 274px;
    height: 44px;
    cursor: pointer;
  }
  .album {
    position: absolute;
    top: -220%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    height: 27px;
  }
  .album-titre {
    position: relative;
    width: 274px;
    height: 44px;
    cursor: pointer;
    text-align: center;
  }
  .artiste-album {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 18px;
  } */
  
  .description {
    position: relative;
    width: 335px;
    height: 175px;
    
  }

  .description-child {
    position: absolute;
    top: -60%;
    left: 105%;
    background: #dedede;
    width: 60%;
    height: 50%;

    
  }
  .nom-prnom-artiste {
    display: block;
    margin: 0;
    
  }
  .nom-prnom-artiste-container {
    position: absolute;
    /* top: 30.56px;
    left: 20px; */
    top: -60%;
    left: 105%;
    /* display: flex; */
    
    display: inline-block;
    
    width: 281px;
    height: 111.11px;

    
  }
  
