
.info{
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.artisteAlbum{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.artiste{
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background-color: #dedede;
}
.album{
  width: 20vw;
  height: 10vh;
  background-color: #dedede;
  line-height: 10vh;
}

.rectInfo{
  margin-top: 10vh;
  width: 20vw;
  height: 40vh;
  background-color: #dedede;
  line-height: 20vh;
}

.delete{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
left: 90%;
transform: translate(-50%, -50%);
  
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Cpath fill='%23000' d='M12.308 14.667c.85 0 1.538.597 1.538 1.333v16c0 .736-.689 1.333-1.538 1.333-.85 0-1.539-.597-1.539-1.333V16c0-.736.689-1.333 1.539-1.333ZM20 14.667c.85 0 1.538.597 1.538 1.333v16c0 .736-.688 1.333-1.538 1.333-.85 0-1.538-.597-1.538-1.333V16c0-.736.688-1.333 1.538-1.333ZM29.23 16c0-.736-.688-1.333-1.538-1.333-.85 0-1.538.597-1.538 1.333v16c0 .736.689 1.333 1.538 1.333.85 0 1.539-.597 1.539-1.333V16Z'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M40 8c0 1.473-1.378 2.667-3.077 2.667h-1.538v24c0 2.945-2.756 5.333-6.154 5.333H10.769c-3.398 0-6.154-2.388-6.154-5.333v-24H3.077C1.377 10.667 0 9.473 0 8V5.333c0-1.472 1.378-2.666 3.077-2.666h10.77C13.846 1.194 15.223 0 16.922 0h6.154c1.7 0 3.077 1.194 3.077 2.667h10.77C38.621 2.667 40 3.86 40 5.333V8ZM8.055 10.667l-.363.157v23.843c0 1.472 1.378 2.666 3.077 2.666h18.462c1.7 0 3.077-1.194 3.077-2.666V10.824l-.363-.157H8.055ZM3.077 8V5.333h33.846V8H3.077Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.blue-rect {
  width: 50px;
  height: 50px;
  background-color: blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
