.morceau-icon6,
.morceau-icon7 {
  position: relative;

  width: 528px;
  height: 50px;
  background: #dedede;
  border-radius: 10px 0px 0px 10px;
}
.morceau-icon7 {
  width: 558px;

}
.morceau-icon8,
.morceau5,
.morceau6 {
  position: relative;
  width: 588px;
  height: 50px;
  background: #dedede;
  border-radius: 10px 0px 0px 10px;
}
.morceau5,
.morceau6 {
  width: 608px;
  
}
.morceau6 {
  width: 648px;
}
.morceau-icon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50vh;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 0px 0px 10px;
}
.titre-morceau1 {
  position: absolute;
  height: 49%;
  width: 67.51%;
  top: 26%;
  left: 32.49%;
  display: inline-block;
}
.logo-morceau1 {
  position: absolute;
  height: 75%;
  width: 14.3%;
  top: 13%;
  right: 82.62%;
  bottom: 12%;
  left: 3.07%;
  background: blue;
}
.morceau-principale1 {
  position: relative;
  width: 748px;
  height: 80px;
  background: #dedede;
  border-radius: 10px 0px 0px 10px;
}
.morceau8,
.morceau9 {
  position: relative;
  width: 619px;
  height: 50px;
  background: #dedede;
  border-radius: 10px 0px 0px 10px;

}
.morceau9 {
  width: 588px;
}
.liste-morceau1 {
  position: absolute;
  top: 20vh;
  right: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

}

.album-child,
.recherche-morceau-child {
  border-radius: 100%;

  width: 255px;
  height: 251px;
  cursor: pointer;
}
.recherche-morceau-child {
  position: absolute;
  /* top: 154px;
  left: 60px; */
}
.album-child {
  top: 0;
  left: 0;
}
.album-child,
.album1,
.album2 {
  position: absolute;
}
.album2 {
  top: 88px;
  left: 42px;
  display: inline-block;
  width: 231px;
  height: 95px;
}
.album1 {
  position: relative;
  max-width: 273px;
  width: 100%;
  /* width: 273px; */
  height: 251px;
  top: 8%;
  left: 5%;

  border-radius: 100%;
  background: #dedede;
}

/* .p3 {
  margin: 0;
} */
/* .temps3 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-darkgray);
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 49px;
  flex-shrink: 0;
} */
/* .frame9 {
  position: absolute;
  top: 3px;
  left: 92px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-17xl);
} */



/* .recherche-morceau-item {
  position: absolute;
  top: 702px;
  left: 102px;
  border-radius: 50%;
  background-color: var(--color-lime);
  width: 70px;
  height: 70px;
  cursor: pointer;
} */
.album3,
.artiste2,
.morceau10 {
  position: absolute;
  top: 55%;
  left: 218px;
  display: inline-block;
  width: 167px;
  height: 71px;
  font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;
}
.artiste2,
.morceau10 {
  top: 65%;
}
.artiste2 {
  top: 75%;
}
.recherche-morceau {
  position: relative;
  
  overflow: hidden;
  text-align: left;
}


#delete{
    width: 40px;
    height: 40px;
    margin-left: 40rem;
    margin-top: 1rem;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none'%3E%3Cpath fill='%23000' d='M12.308 14.667c.85 0 1.538.597 1.538 1.333v16c0 .736-.689 1.333-1.538 1.333-.85 0-1.539-.597-1.539-1.333V16c0-.736.689-1.333 1.539-1.333ZM20 14.667c.85 0 1.538.597 1.538 1.333v16c0 .736-.688 1.333-1.538 1.333-.85 0-1.538-.597-1.538-1.333V16c0-.736.688-1.333 1.538-1.333ZM29.23 16c0-.736-.688-1.333-1.538-1.333-.85 0-1.538.597-1.538 1.333v16c0 .736.689 1.333 1.538 1.333.85 0 1.539-.597 1.539-1.333V16Z'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M40 8c0 1.473-1.378 2.667-3.077 2.667h-1.538v24c0 2.945-2.756 5.333-6.154 5.333H10.769c-3.398 0-6.154-2.388-6.154-5.333v-24H3.077C1.377 10.667 0 9.473 0 8V5.333c0-1.472 1.378-2.666 3.077-2.666h10.77C13.846 1.194 15.223 0 16.922 0h6.154c1.7 0 3.077 1.194 3.077 2.667h10.77C38.621 2.667 40 3.86 40 5.333V8ZM8.055 10.667l-.363.157v23.843c0 1.472 1.378 2.666 3.077 2.666h18.462c1.7 0 3.077-1.194 3.077-2.666V10.824l-.363-.157H8.055ZM3.077 8V5.333h33.846V8H3.077Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}