#liste-morceau1 {
  width: 50vw;
  height: 60vh;
  overflow: hidden;
  /* Cache les éléments qui dépassent */
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

  /* Enlève la scrollBar */
#liste-morceau1::-webkit-scrollbar {
  width: 0px;
}



.box {
  background-color: #dedede;
  color: #fff;
  display: flex;
  align-items: center;
  width: 30vw;
  height: 50px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px #000;
  transform: translateX(100vw);
  transition: transform 0.4s;
  cursor: pointer;
}

.box.show {
  transform: translateX(13vw);
}

  /* avance la box sélectionné */
.box.go {
  transform: translateX(7vw);
  height: 100px;
}
  /* avance les box en dessous et au dessus la box sélectionné */
.box.go2 {
  transform: translateX(9vw);
}

  /* avance les box 2 fois en dessus et en dessous de la box sélectionné */
.box.go3 {
  transform: translateX(12vw);
}

  /* titre dans les boxes */
.box h2 {
  margin-left: 5vw;
  text-shadow: 2px 3px 5px #000;
}
